# Question 1

In [2]:
import pandas as pd

In [3]:
diabeted_ensemble = pd.read_csv("D:\\360DigiTMG\\DataScience\\20. Ensemble Techniques\\Assignment Q\\Diabeted_Ensemble.csv")

In [4]:
diabeted_ensemble.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES

In [5]:
X_diabeted_ensemble = diabeted_ensemble.drop([' Class variable'], axis=1)

In [6]:
X_diabeted_ensemble

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [7]:
y_diabeted_ensemble = diabeted_ensemble[' Class variable']

In [8]:
y_diabeted_ensemble.column = 'Class variable'

In [9]:
y_diabeted_ensemble

0      YES
1       NO
2      YES
3       NO
4      YES
      ...
763     NO
764     NO
765     NO
766    YES
767     NO
Name:  Class variable, Length: 768, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_diabeted_ensemble, y_diabeted_ensemble, test_size=0.2, random_state=0)

In [12]:
from sklearn import tree

In [13]:
clftree_diabeted_ensemble = tree.DecisionTreeClassifier()

In [14]:
from sklearn.ensemble import BaggingClassifier

In [15]:
bag_clf_diabeted_ensemble = BaggingClassifier(base_estimator = clftree_diabeted_ensemble, n_estimators = 500, bootstrap = True, n_jobs = 1, random_state = 42)

In [16]:
bag_clf_diabeted_ensemble.fit(X_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=500,
                  n_jobs=1, random_state=42)

In [17]:
bag_clf_diabeted_ensemble.predict(X_train)

array(['YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO',
       'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES',
       'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES',
       'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO'], dtype=object)

In [18]:
bag_clf_diabeted_ensemble.predict(X_test)

array(['YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES',
       'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO'],
      dtype=object)

In [19]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [20]:
confusion_matrix(y_test, bag_clf_diabeted_ensemble.predict(X_test))

array([[92, 15],
       [13, 34]], dtype=int64)

In [21]:
accuracy_score(y_test, bag_clf_diabeted_ensemble.predict(X_test))

0.8181818181818182

In [22]:
accuracy_score(y_train, bag_clf_diabeted_ensemble.predict(X_train))

1.0

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rf_clf_diabeted_classifier = RandomForestClassifier(n_estimators=500, n_jobs=1, random_state=42)

In [25]:
rf_clf_diabeted_classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=500, n_jobs=1, random_state=42)

In [26]:
confusion_matrix(y_test, rf_clf_diabeted_classifier.predict(X_test))

array([[95, 12],
       [15, 32]], dtype=int64)

In [29]:
accuracy_score(y_test, rf_clf_diabeted_classifier.predict(X_test))

0.8246753246753247

In [30]:
accuracy_score(y_train, rf_clf_diabeted_classifier.predict(X_train))

1.0

# Question 2

In [56]:
import pandas as pd

In [57]:
tumor_ensemble = pd.read_csv("D:\\360DigiTMG\\DataScience\\20. Ensemble Techniques\\Assignment Q\\Tumor_Ensemble.csv")

In [58]:
tumor_ensemble.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,points_worst,symmetry_worst,dimension_worst
0,87139402,B,12.32,12.39,78.85,464.1,0.10280,0.06981,0.03987,0.03700,...,13.50,15.64,86.97,549.1,0.1385,0.1266,0.12420,0.09391,0.2827,0.06771
1,8910251,B,10.60,18.95,69.28,346.4,0.09688,0.11470,0.06387,0.02642,...,11.88,22.94,78.28,424.8,0.1213,0.2515,0.19160,0.07926,0.2940,0.07587
2,905520,B,11.04,16.83,70.92,373.2,0.10770,0.07804,0.03046,0.02480,...,12.41,26.44,79.93,471.4,0.1369,0.1482,0.10670,0.07431,0.2998,0.07881
3,868871,B,11.28,13.39,73.00,384.8,0.11640,0.11360,0.04635,0.04796,...,11.92,15.77,76.53,434.0,0.1367,0.1822,0.08669,0.08611,0.2102,0.06784
4,9012568,B,15.19,13.21,97.65,711.8,0.07963,0.06934,0.03393,0.02657,...,16.20,15.73,104.50,819.1,0.1126,0.1737,0.13620,0.08178,0.2487,0.06766

In [59]:
tumor_ensemble.drop(['id'], axis=1, inplace=True)

In [60]:
y_tumor_ensemble = tumor_ensemble['diagnosis']

In [61]:
y_tumor_ensemble

0      B
1      B
2      B
3      B
4      B
      ..
564    B
565    B
566    M
567    B
568    M
Name: diagnosis, Length: 569, dtype: object

In [63]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
y_tumor_ensemble = pd.DataFrame(enc.fit_transform(y_tumor_ensemble))
y_tumor_ensemble

     0
0    0
1    0
2    0
3    0
4    0
..  ..
564  0
565  0
566  1
567  0
568  1

[569 rows x 1 columns]

In [64]:
X_tumor_ensemble = tumor_ensemble.drop(['diagnosis'], axis=1)

In [65]:
X_tumor_ensemble

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,points_mean,symmetry_mean,dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,points_worst,symmetry_worst,dimension_worst
0,12.32,12.39,78.85,464.1,0.10280,0.06981,0.03987,0.03700,0.1959,0.05955,...,13.50,15.64,86.97,549.1,0.1385,0.1266,0.12420,0.09391,0.2827,0.06771
1,10.60,18.95,69.28,346.4,0.09688,0.11470,0.06387,0.02642,0.1922,0.06491,...,11.88,22.94,78.28,424.8,0.1213,0.2515,0.19160,0.07926,0.2940,0.07587
2,11.04,16.83,70.92,373.2,0.10770,0.07804,0.03046,0.02480,0.1714,0.06340,...,12.41,26.44,79.93,471.4,0.1369,0.1482,0.10670,0.07431,0.2998,0.07881
3,11.28,13.39,73.00,384.8,0.11640,0.11360,0.04635,0.04796,0.1771,0.06072,...,11.92,15.77,76.53,434.0,0.1367,0.1822,0.08669,0.08611,0.2102,0.06784
4,15.19,13.21,97.65,711.8,0.07963,0.06934,0.03393,0.02657,0.1721,0.05544,...,16.20,15.73,104.50,819.1,0.1126,0.1737,0.13620,0.08178,0.2487,0.06766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,13.17,18.22,84.28,537.3,0.07466,0.05994,0.04859,0.02870,0.1454,0.05549,...,14.90,23.89,95.10,687.6,0.1282,0.1965,0.18760,0.10450,0.2235,0.06925
565,10.26,14.71,66.20,321.6,0.09882,0.09159,0.03581,0.02037,0.1633,0.07005,...,10.88,19.48,70.89,357.1,0.1360,0.1636,0.07162,0.04074,0.2434,0.08488
566,15.28,22.41,98.92,710.6,0.09057,0.10520,0.05375,0.03263,0.1727,0.06317,...,17.80,28.03,113.80,973.1,0.1301,0.3299,0.36300,0.12260,0.3175,0.09772
567,14.53,13.98,93.86,644.2,0.10990,0.09242,0.06895,0.06495,0.1650,0.06121,...,15.80,16.93,103.10,749.9,0.1347,0.1478,0.13730,0.10690,0.2606,0.07810
568,21.37,15.10,141.30,1386.0,0.10010,0.15150,0.19320,0.12550,0.1973,0.06183,...,22.69,21.84,152.10,1535.0,0.1192,0.2840,0.40240,0.19660,0.2730,0.08666

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X_tumor_ensemble, y_tumor_ensemble, test_size=0.2, random_state=42)

In [54]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.2-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: numpy in c:\users\riten\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\riten\anaconda3\lib\site-packages (from xgboost) (1.8.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.2
Note: you may need to restart the kernel to use updated packages.

In [68]:
import xgboost as xgb

xgb_clf = xgb.XGBClassifier(max_depths = 5, n_estimators = 10000, learning_rate = 0.3, n_jobs = -1)
xgb_clf.fit(X_train, y_train)

[19:54:59] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-030221e36e1a46bfb-1/xgboost/xgboost-ci-windows/src/learner.cc:767:
Parameters: { "max_depths" } are not used.

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.3, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=6, max_depths=5, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=10000,
              n_jobs=-1, num_parallel_tree=1, predictor='auto', ...)

In [69]:
xgb_clf.predict(X_train)

array([0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0])

In [70]:
from sklearn.metrics import accuracy_score, confusion_matrix

confusion_matrix(y_train, xgb_clf.predict(X_train))

array([[283,   0],
       [  0, 172]], dtype=int64)

In [71]:
accuracy_score(y_train, xgb_clf.predict(X_train))

1.0

In [72]:
xgb_clf.predict(X_test)

array([0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1])

In [73]:
confusion_matrix(y_test, xgb_clf.predict(X_test))

array([[71,  3],
       [ 2, 38]], dtype=int64)

In [74]:
accuracy_score(y_test, xgb_clf.predict(X_test))

0.956140350877193

# Question 3

In [2]:
import pandas as pd

In [3]:
coca_rating_ensemble = pd.read_excel("D:\\360DigiTMG\\DataScience\\20. Ensemble Techniques\\Assignment Q\\Coca_Rating_Ensemble.xlsx")

In [4]:
coca_rating_ensemble.head()

,Company,Name,REF,Review,Cocoa_Percent,Company_Location,Rating,Bean_Type,Origin
0,A. Morin,Agua Grande,1876.0,2016.0,0.63,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676.0,2015.0,0.70,France,2.75,,Togo
2,A. Morin,Atsane,1676.0,2015.0,0.70,France,3.00,,Togo
3,A. Morin,Akata,1680.0,2015.0,0.70,France,3.50,,Togo
4,A. Morin,Quilla,1704.0,2015.0,0.70,France,3.50,,Peru

In [6]:
from sklearn.preprocessing import LabelEncoder
lbl_enc = LabelEncoder()
coca_rating_ensemble['Company_Location'] = lbl_enc.fit_transform(coca_rating_ensemble['Company_Location'])
coca_rating_ensemble['Company'] = lbl_enc.fit_transform(coca_rating_ensemble['Company'])
coca_rating_ensemble['Name'] = lbl_enc.fit_transform(coca_rating_ensemble['Name'])
coca_rating_ensemble['Origin'] = lbl_enc.fit_transform(coca_rating_ensemble['Origin'])
coca_rating_ensemble['Bean_Type'] = lbl_enc.fit_transform(coca_rating_ensemble['Bean_Type'])
coca_rating_ensemble

,Company,Name,REF,Review,Cocoa_Percent,Company_Location,Rating,Bean_Type,Origin
0,0,14,1876.0,2016.0,0.63,18,3.75,40,67
1,0,492,1676.0,2015.0,0.70,18,2.75,40,77
2,0,67,1676.0,2015.0,0.70,18,3.00,40,77
3,0,15,1680.0,2015.0,0.70,18,3.50,40,77
4,0,809,1704.0,2015.0,0.70,18,3.50,40,55
...,...,...,...,...,...,...,...,...,...
1790,410,754,647.0,2011.0,0.70,3,3.75,40,55
1791,410,258,749.0,2011.0,0.65,3,3.00,19,12
1792,410,483,749.0,2011.0,0.65,3,3.50,19,38
1793,410,483,781.0,2011.0,0.62,3,3.25,40,38
1794,410,137,486.0,2010.0,0.65,3,3.00,40,4

In [7]:
X_coca_rating_ensemble = coca_rating_ensemble.drop(['Rating'], axis=1)

In [8]:
y_coca_rating_ensemble = coca_rating_ensemble['Rating']

In [9]:
X_coca_rating_ensemble

,Company,Name,REF,Review,Cocoa_Percent,Company_Location,Bean_Type,Origin
0,0,14,1876.0,2016.0,0.63,18,40,67
1,0,492,1676.0,2015.0,0.70,18,40,77
2,0,67,1676.0,2015.0,0.70,18,40,77
3,0,15,1680.0,2015.0,0.70,18,40,77
4,0,809,1704.0,2015.0,0.70,18,40,55
...,...,...,...,...,...,...,...,...
1790,410,754,647.0,2011.0,0.70,3,40,55
1791,410,258,749.0,2011.0,0.65,3,19,12
1792,410,483,749.0,2011.0,0.65,3,19,38
1793,410,483,781.0,2011.0,0.62,3,40,38
1794,410,137,486.0,2010.0,0.65,3,40,4

In [21]:
X_coca_rating_ensemble.shape

(1795, 8)

In [47]:
y_coca_rating_ensemble

0       4.0
1       3.0
2       3.0
3       4.0
4       4.0
       ...
1790    4.0
1791    3.0
1792    4.0
1793    3.0
1794    3.0
Name: Rating, Length: 1795, dtype: float64

In [46]:
y_coca_rating_ensemble = y_coca_rating_ensemble.round()

In [52]:
y_coca_rating_ensemble = y_coca_rating_ensemble.astype('int64')

In [63]:
y_coca_rating_ensemble

      0
0     3
1     2
2     2
3     3
4     3
...  ..
1790  3
1791  2
1792  3
1793  2
1794  2

[1795 rows x 1 columns]

In [62]:
lbl_enc1 = LabelEncoder()
y_coca_rating_ensemble = pd.DataFrame(lbl_enc1.fit_transform(y_coca_rating_ensemble))

In [48]:
y_coca_rating_ensemble.shape

(1795,)

In [49]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X_coca_rating_ensemble, y_coca_rating_ensemble, test_size=0.2, random_state=43)

In [55]:
X_train.shape

(1436, 8)

In [43]:
y_train.shape

(1436,)

In [65]:
import xgboost as xgb

xgb_clf = xgb.XGBClassifier(max_depths = 5, n_estimators = 10000, learning_rate = 0.3, n_jobs = -1)
xgb_clf.fit(X_train, y_train)

[16:01:25] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-030221e36e1a46bfb-1/xgboost/xgboost-ci-windows/src/learner.cc:767:
Parameters: { "max_depths" } are not used.

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.3, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=6, max_depths=5, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=10000,
              n_jobs=-1, num_parallel_tree=1, objective='multi:softprob', ...)

In [66]:
from sklearn.metrics import accuracy_score, confusion_matrix

confusion_matrix(y_test, xgb_clf.predict(X_test))
accuracy_score(y_test, xgb_clf.predict(X_test))

0.5153203342618384

In [67]:
accuracy_score(y_train, xgb_clf.predict(X_train))

1.0

# Question 4

In [92]:
import pandas as pd

In [93]:
pwd_str = pd.read_excel("D:\\360DigiTMG\\DataScience\\20. Ensemble Techniques\\Assignment Q\\Ensemble_Password_Strength.xlsx")
pwd_str.head()

    characters  characters_strength
0     kzde5577                  1.0
1     kino3434                  1.0
2    visi7k1yr                  1.0
3     megzy123                  1.0
4  lamborghin1                  1.0

In [94]:
X = pwd_str.characters
y = pwd_str.characters_strength

In [95]:
X

0           kzde5577
1           kino3434
2          visi7k1yr
3           megzy123
4        lamborghin1
            ...
1994    patososo2012
1995       sf2004824
1996         marco90
1997         jebekk1
1998     akosi091692
Name: characters, Length: 1999, dtype: object

In [99]:
X = pd.DataFrame(X)

In [100]:
X.characters = X.characters.astype('string')

In [105]:
from sklearn.preprocessing import LabelEncoder

lbl_enc = LabelEncoder()
X.characters = pd.DataFrame(lbl_enc.fit_transform(X.characters))
X

      characters
0           1122
1           1080
2           1797
3           1241
4           1136
...          ...
1994        1430
1995        1630
1996        1201
1997         960
1998         417

[1999 rows x 1 columns]

In [101]:
y

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1994    1.0
1995    1.0
1996    0.0
1997    0.0
1998    1.0
Name: characters_strength, Length: 1999, dtype: float64

In [102]:
y =pd.DataFrame(y)

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [107]:
from sklearn import tree
clftree = tree.DecisionTreeClassifier()
from sklearn.ensemble import BaggingClassifier


bag_clf = BaggingClassifier(base_estimator = clftree, n_estimators = 500,
                            bootstrap = True, n_jobs = 1, random_state = 42)

bag_clf.fit(X_train, y_train)

C:\Users\riten\anaconda3\lib\site-packages\sklearn\ensemble\_bagging.py:719: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=500,
                  n_jobs=1, random_state=42)

In [108]:
from sklearn.metrics import accuracy_score, confusion_matrix

confusion_matrix(y_test, bag_clf.predict(X_test))
accuracy_score(y_test, bag_clf.predict(X_test))

0.77

In [110]:
accuracy_score(y_train, bag_clf.predict(X_train))

1.0